In [3]:
import numpy as np
import pandas as pd
jmlData = 1000

usia = np.random.randint(21,55,size=jmlData)
gender = np.random.choice(['L','P'],size=jmlData)
tingkat_pendidikan = np.random.choice(['Pengangguran', 'Diploma', 'Sarjana', 'Magister'], size=jmlData)
status_perkawinan = np.random.choice(['Lajang', 'Menikah', 'Cerai'], size=jmlData)

df = pd.DataFrame({
    'usia' : usia,
    'gender' : gender,
    'tingkat_pendidikan' : tingkat_pendidikan,
    'status_perkawinan' : status_perkawinan
})

print(df)
print(df.info()) #Menampilkan karakteristik data
print(df.head()) #menampilkan isi tabek 5 baris pertama
print(f"Usia termuda:{df['usia'].min()}")
print(f"Usia tertua:{df['usia'].max()}")
jmlL = df[df['gender']=='L']
print(f"Jumlah Laki laki:{jmlL.size/4}")
print(f"Jumlah Laki laki:{jmlL['gender'].size}")
df.to_csv("dataCustomer.csv")

     usia gender tingkat_pendidikan status_perkawinan
0      28      L       Pengangguran            Lajang
1      26      P           Magister             Cerai
2      24      P            Sarjana             Cerai
3      36      L           Magister             Cerai
4      45      P           Magister            Lajang
..    ...    ...                ...               ...
995    53      L            Diploma             Cerai
996    40      L           Magister            Lajang
997    48      P            Sarjana             Cerai
998    41      P            Diploma           Menikah
999    49      P       Pengangguran            Lajang

[1000 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   usia                1000 non-null   int32
 1   gender              1000 non-null   object
 2   tingkat_pendidikan  1000 non-null   object
 3   status_perkawinan   1000 non-null   object
dtypes: int32(1), object(3)
memory usage: 27.5+ KB
None
   usia gender tingkat_pendidikan status_perkawinan
0    28      L       Pengangguran            Lajang
1    26      P           Magister             Cerai
2    24      P            Sarjana             Cerai
3    36      L           Magister             Cerai
4    45      P           Magister            Lajang
Usia termuda:21
Usia tertua:54
Jumlah Laki laki:519.0
Jumlah Laki laki:519